@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-in:hover {
  opacity: 1;
  transform: scale(0.95);
}

.active {
  background-color: #18de6b;
}

@media (max-width: 1300px) {
  .mobile {
    display: none;
  }
}

.modal-enter {
  opacity: 0;
  transform: translateX(100%);
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

/*Đổi màu icon sang trắng*/
.icon-white {
  filter: invert(1);
  transition: filter 0.3s ease;
}
.icon-blue {
  filter: invert(20%) sepia(100%) saturate(7491%) hue-rotate(207deg)
    brightness(93%) contrast(114%);
  transition: filter 0.3s ease;
}

/* styles.css (hoặc tệp CSS tương tự) */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.running-text {
  animation: marquee 10s linear infinite; /* 10s animation chạy qua lại một lần*/
}

@keyframes gradientAnimationForward {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-gradient {
  /* background: linear-gradient(to right, #2374e1, white, #2374e1); */
  background: linear-gradient(to right, #91b9f0, white, #91b9f0);
  background-size: 200% 100%;
  animation: gradientAnimationForward 1s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: gradientAnimationForward 1s linear infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: gradientAnimationForward 1s linear infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

/* Ẩn thanh cuộn mặc định 
::-webkit-scrollbar {
  display: none;
}*/
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
}
/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}
/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
/* Scrollbar Track when scrolling */
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* xoay tròn icon */
.loading {
  animation: border-spin 3s linear infinite; /* 10s animation chạy qua lại một lần*/
}

/* thanh loading đầu trang (router push) */
.loading-router {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Chiều cao của thanh loading */
  background-color: theme("colors.mauxanhtroi"); /* Màu của thanh loading */
  animation: loading-animation 2s linear infinite; /* Động hoạ loading */
}

@keyframes loading-animation {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
